html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
}

/* Acessibilidade */

.barra_acessibilidade{
    display: flex;
    width: 100%;
    font-size: 1.4vw;
}

.barra_acessibilidade div:nth-child(1){
    width: 40%;
}

.barra_acessibilidade div:nth-child(2){
    width: 49%;
}

.barra_acessibilidade a, .barra_acessibilidade span{ 
    text-decoration: underline;
    color: black;
    margin-left: 2%;
}

.barra_acessibilidade a:active, .barra_acessibilidade a:visited{
    color: black;
}

#btn-contraste-on:hover,
#btn-contraste-off:hover,
#btn-font-plus:hover,
#btn-font-minus:hover{
    cursor: pointer;
}

/* header e nav */
.topo{
    background-image: linear-gradient(#171717 80%, #0f0f0f);
    position: relative;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 3px #000;
    flex-wrap: wrap;
}

    /* logomarca*/

.logo{
    margin: 0;
    font-size: 2vw;
    font-family: consolas;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
}

.logo a{
    text-decoration: none;
    font-family: 'kanit', 'helvetica', 'sans-serif';
}

.logo part1{
    color: #ff914d;
}

.logo part2{
    color: #ffde59;
}

.logo img{
    height: 4vw;
    width: 4vw;
    margin-right: 1vw;
}

#container-logo, nav{
    /*ambos vão deixar um espaço livre entre si*/
    width: 48%;
    display: flex;
    align-items: center;
}

#container-logo{
    justify-content: left;
}

nav{
    justify-content: right;
}

    /* menu nav */

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    margin: 0 5px;
}

.menu li a{
    padding: 5px 20px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    color: #ffde59;
}

.menu li a:active{
    color: #ffde59;
}

.menu li a:visited{
    color: #ffde59;
}

.menu li a:hover{
    cursor: pointer;
    color: #000;
    background-color: #ffde59;
    transition: 0.4s;
}

    /* submenu das calculadoras*/

.menu li .sub-menu{
    height: 0%;
    padding: 0;
    position: absolute;
    background-image: linear-gradient(#171717 80%, #0f0f0f);
    border-radius: 15px;
    top: 6vw;
    transition: 0.5s;
    z-index: 3;
    list-style: none;
    overflow: hidden;
}

.menu li .sub-menu li{
    margin-bottom: 1.5vw;
    transition: 0.5s;
}

.menu li .sub-menu li:first-child{
    padding-top: 1.5vw;
    margin-bottom: 1.5vw;
    transition: 0.5s;
}

.menu li .sub-menu li:last-child{
    transition: 0.5s;
}

.menu li .sub-menu li a{
    padding: 1vw;
    border-radius: 15px;
}

.menu li .sub-menu li a:hover{
    background-color: #ffde59;
    background-image: none;
    color: black;
    transition: 0.2s;
}

/* titulo da pagina */

.linha-titulo{
    padding: 3% 0 0 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: helvetica;
}

.box-titulo{
    background-image: linear-gradient(#ffde59, #ff914d );
    padding: 1.2vw 3.5vw;
    color: black;
    box-shadow: 1px 1px 2px #000;
    font-family: helvetica, sans-serif;
    border-radius: 1.7em;
    /**/
    display: flex;
    flex-direction: column;
}

h2.titulo-pagina{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin: 0;
}

/* Menu burger para mobile */

.burger-menu, .burger-icon{
    display: none;
}


/* Conteudo das paginas */

.conteudo{
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 0 0 2% 0;
    position: relative;
}

/* Pagina inicial */

.apresentacao{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMGS/fundo-inicial.jpg);
    background-size: cover;
    /**/
    align-items: center;
    display: flex;
    justify-content: right;
    padding: 0 0 2% 0;
    position: relative;
}

.quem-somos{
    margin: 3% 10% 3% 1%;
    box-shadow: 1px 1px 2px #000;
    font-family: helvetica, sans-serif;
    border-radius: 1.7em;
    width: 35%;
    background-color: #fff;
    padding: 1.4em;
    color: black;
    opacity: 1;
    font-family: helvetica;
}

    /* Menu de calculadora da pagina inicial */
.container-cards{
    display: flex;
    justify-content: center;
    padding: 8vw 0 8vw 0;
    position: relative;
}

.card-calc{
    width: 15%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3% 1%;
    font-family: helvetica, sans-serif;
    border-radius: 1.7em;
}

.card-calc a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

.card-calc a p{
    font-weight:bold;
}
.card-calc a:active, .card-calc a:visited{
    color: #000;
}

.card-ball{
    background-image: linear-gradient(#ffde59, #ff914d );
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: bold;
}

.card-ball:hover, .card-calc .card-title:hover + .card-ball{
    opacity: 1;
    transition: 0.2s;
    border: 2px solid orangered;
}

.card-ball:focus{
    opacity: 1;
    transition: 0.2s;
    outline: 3px solid orangered;
}



/* Calculadora e resultado*/

.calculadora, .resultado-big, .resultado-small{
    margin: 3% 1%;
    box-shadow: 1px 1px 2px #000;
    font-family: helvetica, sans-serif;
    border-radius: 1.7em;
}

.calculadora{
    width: 25%;
    background-image: linear-gradient(#ffde59, #ff914d );
    padding: 1em;
    color: black;
    font-family: helvetica;
    /**/
    display: grid; /* o grid é pra que cada div fique em uma linha */
    grid-template-columns: 1fr;
}

.resultado-big{
    width: 35%;
    background-image: linear-gradient(#ffde59, #ff914d );
    padding: 1em;
    color: black;
}

.resultado-small{
    width: 35%;
    background-image: linear-gradient(#ffde59, #ff914d );
    padding: 1em;
    color: black;
    height: 60%;
}

.box-num-input{
    /*border: 2px white solid;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 3% 0 ;
}

.box-radio-input{
    /*border: 2px white solid;*/
    position: relative;
    display: flex;
    padding: 2.7vw 0 5% 0;
    justify-content: center;
    /**/
    flex-wrap: wrap;
}

.box-select-input{
    /*border: 2px white solid;*/
    position: relative;
    display: flex;
    padding: 2.7vw 0 5% 0;
    justify-content: center;
    /**/
    flex-wrap: wrap;
}

.box-botoes{
    /*border: 2px white solid;*/
    height: 3vh;
    display:flex;
    align-items: center;
    /*justify-content: right;*/
    padding: 4% 2% 4% 2%;
    width: 100%;
    position: relative;
}

#btn-calc{
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    background-color: #000;
    padding: 4% 6%;
    margin-left: 4%;
    font-size: 1.1vw;
    position: absolute;
    right: 7%;
}

#btn-calc:hover, #btn-limp:hover{
    cursor: pointer;
}

.label{
    position: absolute;
    top: 8%;
    left: 8%;
    font-size: 1.1vw;
    font-weight: bold;
}

.exemplo{
    font-size: 1vw;
    opacity: 0.5;
}

.calculadora h4{
    margin: 0;
}

.calculadora input[type="number"]{ 
    display: inline-block;
    padding: 3% 6%;
    width: 70%;
    text-align: center;
    border-radius: 1.3vw;
    border: none;
    font-family: helvetica, sans-serif;
    font-size: 1.1vw;
}

select{
    padding: 3% 6%;
    width: 70%;
    border-radius: 1.3vw;
    border: none;
    font-family: helvetica, sans-serif;
    font-size: 1.1vw;
}

input[type="radio"]{
    opacity: 0; /* Não pode ser display:none se não será impossivel selecionar o radio e consequentemente a label */
    position: absolute;
}

.label-radio{
    position: relative;
    color: #000;
    border: 2px #000 solid;
    border-radius: 10px;
    padding: 3% 8%; 
    font-size: 1.1vw;
    font-weight: bold;
    margin: 3% 1% 1% 1%;
}

.label-radio:hover{
    cursor:pointer;
}

input[type="radio"]:focus + .label-radio, .button:focus{
    outline: 0.3em solid orangered;
}

input[type="radio"]:active + .label-radio, .button:active{
    outline: none;
}


input[type="radio"]:checked + .label-radio{
    background-color: #000;
    color: #fff;
}

input[type="radio"]:checked + .label-radio::before{
    height: 0.8vw;
    width: 0.8vw;
    border: 0.24vw #fff solid;
}

    /* resultados */

h2.titulo{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin: 0 0 5% 0;
}

.msg-resultado{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
}

.value_result{
    text-align: center;
    font-size: 7vw;
    margin: 0;
    padding: 0 0 0.3em 0;
}

.caption_result{
    font-size: 1.5vw;
    margin: 0;
}

#img_imc{
    position: absolute;
    bottom: 2%;
    margin: 6% 0 0 0;
    /*width: 12vw;*/
    min-height: 30%;
    height: 55%;
    fill: white;
}

.tbl-resultado{
    width: 70%;
    background-color: transparent;
    margin-bottom: 2em;
}

.tbl-resultado tr td, .tbl-resultado{
    border: none;
}

.tbl-resultado tr td{
    font-size: 1.5vw;
}

.tbl-resultado td.td-result{
    text-align: right;
    font-weight: bold;
}

    /* placeholder */
    
.placeholder{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder h2{
    width: 75%;
    text-align: center;
    font-size: 3vw;
}


/* conteudo informativo (textual) está no textual.css */

.information{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 3% 0 3% 0;
    align-items: center;
    position: relative;
    font-family: helvetica;
}

.box-info{
    width: 65%;
    background-image: linear-gradient(#ffde59, #ff914d );
    padding: 1.6vw;
    margin: 0 0 2em 0;
    color: black;
    box-shadow: 1px 1px 2px #000;
    font-family: helvetica, sans-serif;
    border-radius: 1.7em;
    /**/
    display: flex;
    flex-direction: column;
}

.box-info ol{
    padding: 0 0 0 5vw;
}

.text-info{
    font-size: 1.5vw;
}

ol li{
    font-size: 1.3vw;
}

ul.lista{
    padding-left: 5vw;
}

ul.lista li, ul.lista{
    font-size: 1.6vw;
    margin: 0;
}

/* tabelas */

table{
    align-self: center;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0 2% 0;
}

table.tbl-small{
    width: 50%;
}

table.tbl-big{
    width: 85%;
}

table caption{
    opacity: 0; 
    font-size: 1px;
}

th, td{
    overflow-wrap: break-word;
    padding: 0.5vw;
    font-size: 80%;
}

th.th-small{
    width: 10%;
}

th.th-medium{
    width: 25%;
}

table, th, td{
    border: 2px solid #252323;
    border-collapse: collapse;
}

/* Footer - mapa do site*/

.rodape{
    align-self: center;
    background-color: #0d0d0d;
    padding: 1% 1% 3% 1%;
    display: flex;
    justify-content: center;
    position: relative;
}

.mapa-site{
    width: 30%;
}

.social{
    width: 30%;
}

.mapa-site, .social{
    padding: 0 1%;
}

    /* titulos, listas e textos no rodapé */

.rodape-titulo, .rodape-sub-titulo, .lista-links li a, .rodape-desc{
    font-family: helvetica, sans-serif;
    text-decoration: none;
    font-size: 1vw;
}

.rodape-titulo{
    width: 100%;
    color: #afafaf;
    border-bottom: 2px solid #afafaf;
}

.rodape-sub-titulo{
    padding-top: 0.8em;
    color: #afafaf;
    margin: 0;
}

.lista-links{
    margin:0;
    padding: 0 0 0 1.5em;
    list-style: circle;
    color: #7c7c7c
}

.lista-links li a{
    color: #828282;
}

.rodape-desc{
    color: #828282;
    font-size: 1vw;
    font-weight: 400;
    margin:0;
    text-align: justify;
}

.redes-sociais{
    margin: 0.6em 0 0 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.social-icon{
    width: 2em;
    height: 2em;
}

.redes-sociais li{
    display: flex;
    justify-content: center;
}

.redes-sociais a{
    width: 2em;
    height: 2em;
    margin: 0 0.3em;
    border-radius: 50%;
}


.new-tab{ /* icone que aparece na frente do nome dos desenvolvedores*/
    width: 0.8vw;
    height: 0.8vw;
}

/* reutilizado */

.invisible{
    display: none;
}

/* tablets & celulares em landscape */
@media screen 
and (min-width: 500px)
and (max-width: 1024px){

    html, body{
        font-size: 2vw;
    }

    /* Acessibilidade */
    .barra_acessibilidade{
        font-size: 2vh;
        
    }

    .barra_acessibilidade div:nth-child(1){
        display: none;
        width: 40%;
    }

    .barra_acessibilidade div:nth-child(2){
        width: 100%;
        text-align: center;
    }

    /* Acessibilidade */
    .barra_acessibilidade div:nth-child(1){
        display: none;
        width: 40%;
    }

    .barra_acessibilidade div:nth-child(2){
        width: 100%;
    }

    .vlibras{
        display: none;
    }

    /* header */
    .logo{
        font-size: 3vw;
    }

    .logo img{
        width: 6vw;
        height: 6vw;
    }

    /* nav */

    .menu li .sub-menu{
        top: 7.5vw;
    }
    /* conteudo */

    /* pagina inicial*/

    .apresentacao{
        height: 80%;
        justify-content: center;
    }

    .quem-somos{
        width: 50%;
        margin: 1%;
    }

    .card-ball{
        opacity: 1;
    }

    /* calculadora e resultado */
    .calculadora{
        width: 40%;

    }

    .resultado{
        width: 40%;
    }

    #btn-calc, #btn-limp{
        font-size: 1.7vw;
    }

    .label{
        font-size: 1.7vw;
    }

    .exemplo{
        font-size: 1.4vw;
    }

    .calculadora input[type="number"]{ 
        font-size: 1.4vw;
    }

    .box-radio-input, .box-select-input{
        flex-wrap: wrap;
        padding-top: 4.3vw;
    }

    .label-radio{
        font-size: 1.4vw;
    }

    input[type="radio"]:focus + .label-radio, .button:focus{
        outline: none;
    }
    
    input[type="radio"]:active + .label-radio, .button:active{
        outline: none;
    }

    select, option{
        font-size: 1.6vw;
    }

    /* resultado */

    h2.titulo{
        font-size: 2.5vw;
    }

    .value_result{
        font-size: 8vw;
    }

    .caption_result{
        font-size: 1.7vw;
    }

    /* placeholder */

    /* conteudo textual */

    .box-info{
        width: 85%;
    }

    th, td{
        padding: 0.8vw;
        /*font-size: 1.8vw;*/
    }

    .text-info{
        font-size: 1.8vw;
    }

    ol li{
        font-size: 1.6vw;
    }

    ul.lista li, ul.lista{
        font-size: 2.2vw;
        margin: 0;
    }
    
    /* footer */

    .rodape-titulo, .rodape-sub-titulo, .lista-links li a, .rodape-desc{
        font-size: 1.8vw;
    }

}

/* telas em portrait até 500px */
@media screen 
and (max-width: 500px){
    html, body{
        font-size: 3vw;
    }

    /* Acessibilidade */
    .barra_acessibilidade{
        font-size: 3vw;
    }
    
    .barra_acessibilidade div:nth-child(1){
        display: none;
        width: 40%;
    }

    .barra_acessibilidade div:nth-child(2){
        width: 100%;
        text-align: center;
    }

    .vlibras{
        display: none;
    }

    #btn-font-plus, #btn-font-minus{
        display: none;
    }
    /* header */
    .logo{
        font-size: 4.5vw;
    }

    .logo img{
        display: none;
    }

    nav{
        justify-content: right;
    }

    .burger-menu, .burger-icon{
        display: block;
    }
    
    .burger-icon div{
        width: 6vw;
        height: 1vw;
        background-color: #ffde59;
        margin: 0.6vh 0;
    }

    .burger-menu{
        list-style: none;
        position: absolute;
        margin: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
        text-align: right;
        transition: 0.9s;
        z-index: 3;
        background-color:rgba(0, 0, 0, 0.5)
    }

    .burger-menu li{
        padding: 5% 0 5% 0;
    }

    .burger-menu a{
        background-image: linear-gradient(#171717 80%, #0f0f0f);
        text-decoration: none;
        font-family: helvetica, sans-serif;
        font-size: 4vw;
        padding: 3vw;
        border-radius: 1em;
        color: #ffde59;
        font-weight: bold;
        margin-right: 1em;
    }

    .burger-menu a:visited, .burger-menu a:active{
        color: #ffde59;
    }

    .menu{
        display: none;
    }

    /* titulo da pagina*/

    h2.titulo-pagina{
        font-size: 4.5vw;
    }

    .box-titulo{
        width: 55%;
        margin: 3% 0 2% 0;
    }

    /* conteudo */

    /* pagina inicial */
    .apresentacao{
        height: 80%;
        justify-content: center;
    }

    .quem-somos{
        width: 60%;
        margin: 1%;
    }

    .container-cards{
        padding: 3vh 0 3vh 0;
        flex-direction: column;
        align-items: center;
    }

    .card-calc{
        width: 50%;
    }

    .card-calc a p{
        font-size: 4vw;
    }

    .card-ball{
        opacity: 1;
        font-size: 6.5vw;
        width: 40vw;
        height: 40vw;
    }

    /* calculadoras */
    .conteudo{
        align-self: center;
        flex-direction: column;
        align-items: center;
    }

    .calculadora{
        width: 70%;
    }

    .box-radio-input, .box-select-input{
        flex-wrap: wrap;
        padding-top: 8.3vw;
    }

    .resultado-big{
        width: 70%;
        height: 110vw;
    }

    .resultado-small{
        width: 70%;
        height: 60vw;
    }

    #btn-calc, #btn-limp{
        font-size: 3vw;
    }

    .label{
        font-size: 3vw;
    }

    .label-radio{
        padding: 3% 6%; 
    }

    .exemplo{
        font-size: 3vw;
    }

    .calculadora input[type="number"]{ 
        font-size: 3.5vw;
    }

    .label-radio{
        font-size: 3vw;  
    }


    input[type="radio"]:focus + .label-radio, .button:focus{
        outline: none;
    }
    
    input[type="radio"]:active + .label-radio, .button:active{
        outline: none;
    }

    select, option{
        font-size: 3.5vw;
    }

    /* resultado */

    h2.titulo{
        font-size: 4.5vw;
    }

    .value_result{
        font-size: 11vw;
    }

    .caption_result{
        font-size: 3vw;
    }

    h2.ph_text{
        font-size: 4.5vw;
    }

    .tbl-resultado tr td{
        font-size: 3vw;
    }

    /* placeholder */

    /* Conteudo textual */

    .box-info{
        width: 70%;
        padding: 3vw;
    }

    table.tbl-small, table.tbl-big{
        width: 90%;
    }

    th.th-small, th.th-medium{
        width: auto;
    }

    th, td{
        padding: 0.7vw;
    }

    .text-info{
        font-size: 3.5vw;
    }
    
    ol li{
        font-size: 2.8vw;
    }
    
    ul.lista li, ul.lista{
        font-size: 3.2vw;
        margin: 0;
    }
    
    /* footer */

    .rodape{
        flex-direction: column;
        align-items: center;
        padding: 1% 1% 10% 1%;
    }

    .mapa-site, .social{
        width: 70%;
    }

    .rodape-titulo, .rodape-sub-titulo, .lista-links li a, .rodape-desc{
        font-size: 3.5vw;
    }

    .social-icon{
        width: 3em;
        height: 3em;
    }

    .redes-sociais a{
        margin: 1em;
    }

    .new-tab{
        width: 2vw;
        height: 2vw;
    }
    
    /* javascript */

    .invisible{
        display: none;
    }

}
